@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Yomogi&display=swap");

* {
  margin: 0;
  padding: 0;
  --green-accent-color: rgb(58, 176, 58);
  --green-accent-color-opaque: rgb(58, 176, 58, 0.3);
}

body {
  font-family: "Chakra Petch", sans-serif;
  font-size: 0.8rem;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 200ms ease-in-out;

  background-color: var(--green-accent-color-opaque);
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  background-color: #f0f0f0;
  box-shadow: 0px 0px 5px 1px grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  align-items: center;

  border-radius: 10px;
  z-index: 10;
  /* width: min(500px, 50%); */
  width: 300px;
  max-width: 80%;
  padding: 1rem;
}

#modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-close {
  align-self: flex-end;
  background: none;
  font-size: 1.5rem;
  width: 40px;
}

#modal:hover {
  background-color: white;
  box-shadow: 0px 0px 2px 1px var(--green-accent-color);
}

/* main grid */
.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 20fr 2fr;
}

.header {
  color: var(--green-accent-color);
  display: flex;
  align-items: center;
  padding-left: 1rem;
  gap: 5px;
}

.header img {
  width: 45px;
}

.footer {
  border: 1px solid red;
}

.main-wrapper {
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.main {
  /* border: 1px solid orange; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.section-1 {
  display: flex;
  flex-direction: column;
}

.board-wrapper {
  background-color: white;
  display: grid;
  gap: 1rem;
  display: grid;
  place-items: center;
  padding: 1rem;
  box-shadow: 0px 0px 5px 1px grey;
  border-radius: 8px;
}

.board-wrapper h2:hover {
  color: var(--green-accent-color);
}

.turn {
  color: var(--green-accent-color);
}

.section-2 {
  /* border: 1px solid blue; */
  align-items: flex-start;

  padding: 1rem;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}

.score {
  background-color: #f0f0f0;
  padding: 1rem;

  box-shadow: 0px 0px 5px 1px grey;
}

.score:hover {
  background-color: white;
  box-shadow: 0px 0px 2px 1px var(--green-accent-color);
}

.section-2 button {
  font-size: 0.8rem;
  padding: 5px;
}
.section-2 button,
#modal button {
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  /* padding: 5px; */
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Chakra Petch", sans-serif;
}

#modal .modal-reset {
  padding: 8px;
  margin-top: 10px;
}

.section-2 button:hover,
#modal button:hover {
  background-color: rgb(58, 176, 58);
  color: white;
  border: none;
}

/* .main-wrapper {
  position: fixed;
  align-content: center;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
/* border: 1px solid red;
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-content: center;
} */

/* .section-1 {
  border: 1px solid blue;
/* } */
/* .gameboard {
  /* height: 500px;
  width: 390px; */

/* padding: 1rem; */

/* box-shadow: 0px 0px 5px 1px grey; */

/* .board-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
/* align-items: center; */
/* border: 1px solid black; */
/* height: 100%; */

.board {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 0.05rem;
}

.square {
  background-color: white;
  border: 2px solid #ccc;
  color: #333;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 800;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.square:hover {
  /* background-color: #f0f0f0; */
  background-color: rgb(58, 176, 58);
  color: white;
}

/* .scorecard {
  border: 1px solid purple;
  height: 200px;
  width: 200px;
  /* height: 250px;
  width: 250px; */

/* .scorecard-container {
  border: 1px solid green;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
} */
